.sidebar-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.menu{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-content img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 5px solid #00d4ff
}

.sidebar-content a {
  text-decoration: none;
  font-size: 17px;
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s;
}

.sidebar-content a:hover {
  color: #343a40
}
