.container-experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -100px;
}

.experience h1 {
  font-size: 40px;
}

.experience ul {
  padding-top: 50px;
  padding-left: 50px;
}

.experience li {
  padding-top: 10px;
}